@       IN SOA . . (
                                1          ; SERIALAUTOUPDATE
                                86400      ; refresh
                                3600       ; retry
                                86400      ; expire
                                3600       ; minimum
)

version IN TXT "2"
{%- for zone in zones | sort %}
{{ zone | hash("sha256") }}.zones IN PTR {{ zone }}.
{%- endfor %}